.App {
  text-align: center;
}

body {
  padding: 0%;
  margin: 0;
  background-color: cornflowerblue;

}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  background-color: rgb(79, 79, 209);
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  font-size: 45px;
  text-shadow: 2px 4px rgb(89, 87, 87);
}
.game {
  width: 100vw;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.board {
  width: 30em;
  height: 20em;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter {
  flex: 33%;
  height: 2.5em;
  border: 1px solid white;
  margin: 5px 1px 0px 1px;
  display: grid;
  place-items: center;
  font-size: 1.25em;
  font-weight: bolder;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}

.keyboard {
  width: 700px;
  height: 300px;
  margin-top: 60px;
}

.topRowKeys {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.middleRowKeys {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.bottomRowKeys {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: lightblue;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  box-shadow: 5px 10px darkgray;

}

#big {
  width: 100px;
}
#disabled {
  background-color: black;
}

.reloadButton {
  border-style: none;
  border-radius: 5px;
  background-color:rgb(183, 183, 255);
  color: black;
  font-size: 15px;
  width: 6em;
  height: 3em;
  margin: 1em 0em 0em 0em;
  box-shadow: 2px 4px rgb(136, 136, 199) ;
}

.EndOfGame {
  margin: 2em;
  border: 2px solid rgb(41, 129, 183);
  border-radius: 8px;
  box-shadow: 4px 8px darkgrey;
}

.theWord {
  margin: 15px;
}

.correctWord {
  color: rgb(235, 120, 120);
}